
.sidebar {
  width: 220px;
  background-color: white;
  border-top-left-radius: 17px;
  border-bottom-left-radius: 17px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  transition: transform 0.3s ease;
  height: 100%;
}

.sidebar ul {
  list-style: none;
  padding-left: 0;
}

.sidebar .nav-link {
  color: #333;
  padding: 10px 15px;
  margin: 3px 0px;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.sidebar .nav-link:hover {
  background-color: #EDF4FF;
  color: #0561FC;
}

.sidebar .nav-link.active {
  background-color: #EDF4FF;
  color: #0561FC;
  font-weight: 500;
}
@media (max-width: 992px) {
  .sidebar {
    transform: translateX(-100%);
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 1050;
  }

  .sidebar.active {
    transform: translateX(0);
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1040;
  }
}
